##requirements.txt
snowflake-connector-python 
snowflake-snowpark-python
streamlit==1.31.1
requests

snowflake-connector-python 
snowflake-snowpark-python
pip==24.1.1

pip install "snowflake-connector-python[pandas]"
